html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#chat_area {
    height: 500px;
    margin-bottom: 10px;
    overflow: scroll;
}

.chat_entry {
    margin-bottom: 2px;
    animation-name: enter-animation;
    animation-duration: 0.3s;
}

@keyframes enter-animation {
    from {
        opacity: 0;
        margin-top: 20px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.chat_entry_admin {
    color: red;
}

.chat_username {
    font-weight: bold;
}

.chat_msg {
    margin-left: 5px;
}

.username-field {
    background-color: #d8d8d8;
    color: #000;
}